.footer{

    hr{
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__logo{
        margin: 0;
        padding: 4rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__copyright{
        margin: 0;
        padding: .8rem 0;
        text:{
            align: center;
        }
        background:{
            color: var(--color-background-gray);
        }
    }

    &__developer{
        margin: 0;
        padding: .8rem 0;
        text:{
            align: center;
        }
        color: var(--color-theme-white);
        background:{
            color: var(--color-theme-primary);
        }

        p{

            a{
                font:{
                    family: 'Roboto Bold', sans-serif !important;
                }
                transition: color .3s ease-in-out;

                &:hover{
                    color: darken(#00C5FF, 10%);        
                    transition: color .3s ease-in-out;
                }
            }
        }
    }
}