#header{
    position: fixed;
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 100;
    transition: .5s ease-in-out all;

    .header__navbar{
        margin: 0;
        padding: 1rem 0;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;

            .header__navbar__section{
                .header__navbar__section__nav{
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;

                        & > li:last-child{
                            padding-right: 0;
                        }

                        li{
                            margin: 0;
                            padding: .8rem 1.6rem;
                            overflow: hidden;
                            transition: .3s ease-in-out all;
                            a{
                                position: relative;
                                margin: 0;
                                padding: 0;
                                width: 100%;
                                color: var(--color-theme-white);

                                &::after{
                                    content: '';
                                    position: absolute;
                                    bottom: -1rem;
                                    width: 100%;
                                    left: 0;
                                    transform: translateX(-200%);
                                    transition: .3s ease-in-out all;
                                }

                                transition: .3s ease-in-out all;

                                &:hover{
                                    color: var(--color-theme-primary);

                                    &::after{
                                        content: '';
                                        border: 1px solid var(--color-theme-primary);
                                        transform: translateX(0);
                                        transform-origin: left;
                                        transition: .5s linear all;
                                    }
                                    transition: .3s linear all;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.header--active{
    background-color: rgba(darken(#87D1DE, 15%), .95) !important;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    img{
        height: 8rem !important;
    }

    transition: .5s ease-in-out all;
}