@font-face{
    font-family: 'Roboto Light';
    src: url("../font/Roboto-Light.ttf") format('truetype');
}

@font-face{
    font-family: 'Roboto Medium';
    src: url("../font/Roboto-Medium.ttf") format('truetype');
}

@font-face{
    font-family: 'Dancing Script Bold';
    src: url("../font/DancingScript-Bold.ttf") format('truetype');
}