.hero{
    display: block;
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height: 100vh !important;
    background:{
        image: url('../img/bg-home.jpg');
        color: rgba(0,0,0,.2);
        blend-mode: multiply;
        position: center bottom;
        size: cover;
        attachment: fixed;
        repeat: no-repeat;
    }

    &::after{
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 12.5rem;
        margin: 0 !important;
        display: block;
        content: '';
        background:{
            image: url('../img/vt-home.svg');
            size: contain;
            position: center bottom;
            repeat: no-repeat;
        }
    }

    .container{
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__header{
        @include marginSet;

        h1{
            @include marginSet;
            display: block;
            font:{
                family: 'Roboto Light', sans-serif !important;
                size: 5.5rem;
            }
            line-height: 1;
            text:{
                shadow: 0 .3rem .8rem rgba(0,0,0,.5);
            }
            color: var(--color-theme-white);

            &::before{
                display: none;
            }

            small{
                font:{
                    size: 3rem;
                }
            }

            span{
                font:{
                    family: 'Dancing Script Bold', cursive !important;
                    size: 8.4rem;
                }
            }

        }
    }

}